@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon/icomoon.eot?41shqn');
	src:  url('../fonts/icomoon/icomoon.eot?41shqn#iefix') format('embedded-opentype'),
		 url('../fonts/icomoon/icomoon.ttf?41shqn') format('truetype'),
		 url('../fonts/icomoon/icomoon.woff?41shqn') format('woff'),
		 url('../fonts/icomoon/icomoon.svg?41shqn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-copy:before {
  content: "\e900";
}
.icon-cross:before {
  content: "\e901";
}
.icon-down-arrow:before {
  content: "\e902";
}
.icon-download:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-info:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-left-arrow:before {
  content: "\e907";
}
.icon-linkedin:before {
  content: "\e908";
}
.icon-minus:before {
  content: "\e909";
}
.icon-plus:before {
  content: "\e90a";
}
.icon-right-arrow:before {
  content: "\e90b";
}
.icon-sanpchat:before {
  content: "\e90c";
}
.icon-tiktok:before {
  content: "\e90d";
}
.icon-twitter:before {
  content: "\e90e";
}
.icon-youtube:before {
  content: "\e90f";
}
