@font-face {font-family: Poppins;font-style: normal;font-weight: 300;src: url(../fonts/poppins/poppins-v12-latin-300.eot);src: local("Poppins Light"), local("Poppins-Light"), url(../fonts/poppins/poppins-v12-latin-300.eot?#iefix) format("embedded-opentype"), url(../fonts/poppins/poppins-v12-latin-300.woff2) format("woff2"), url(../fonts/poppins/poppins-v12-latin-300.woff) format("woff"), url(../fonts/poppins/poppins-v12-latin-300.ttf) format("truetype"), url(../fonts/poppins/poppins-v12-latin-300.svg#Poppins) format("svg");}@font-face {font-family: Poppins;font-style: normal;font-weight: 400;src: url(../fonts/poppins/poppins-v12-latin-regular.eot);src: local("Poppins Regular"), local("Poppins-Regular"), url(../fonts/poppins/poppins-v12-latin-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/poppins/poppins-v12-latin-regular.woff2) format("woff2"), url(../fonts/poppins/poppins-v12-latin-regular.woff) format("woff"), url(../fonts/poppins/poppins-v12-latin-regular.ttf) format("truetype"), url(../fonts/poppins/poppins-v12-latin-regular.svg#Poppins) format("svg");}@font-face {font-family: Poppins;font-style: normal;font-weight: 500;src: url(../fonts/poppins/poppins-v12-latin-500.eot);src: local("Poppins Medium"), local("Poppins-Medium"), url(../fonts/poppins/poppins-v12-latin-500.eot?#iefix) format("embedded-opentype"), url(../fonts/poppins/poppins-v12-latin-500.woff2) format("woff2"), url(../fonts/poppins/poppins-v12-latin-500.woff) format("woff"), url(../fonts/poppins/poppins-v12-latin-500.ttf) format("truetype"), url(../fonts/poppins/poppins-v12-latin-500.svg#Poppins) format("svg");}@font-face {font-family: Poppins;font-style: normal;font-weight: 600;src: url(../fonts/poppins/poppins-v12-latin-600.eot);src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(../fonts/poppins/poppins-v12-latin-600.eot?#iefix) format("embedded-opentype"), url(../fonts/poppins/poppins-v12-latin-600.woff2) format("woff2"), url(../fonts/poppins/poppins-v12-latin-600.woff) format("woff"), url(../fonts/poppins/poppins-v12-latin-600.ttf) format("truetype"), url(../fonts/poppins/poppins-v12-latin-600.svg#Poppins) format("svg");}@font-face {font-family: Poppins;font-style: normal;font-weight: 700;src: url(../fonts/poppins/poppins-v12-latin-700.eot);src: local("Poppins Bold"), local("Poppins-Bold"), url(../fonts/poppins/poppins-v12-latin-700.eot?#iefix) format("embedded-opentype"), url(../fonts/poppins/poppins-v12-latin-700.woff2) format("woff2"), url(../fonts/poppins/poppins-v12-latin-700.woff) format("woff"), url(../fonts/poppins/poppins-v12-latin-700.ttf) format("truetype"), url(../fonts/poppins/poppins-v12-latin-700.svg#Poppins) format("svg");}@font-face {font-family: Cairo;font-style: normal;font-weight: 400;src: url(../fonts/cairo/cairo-v9-arabic-regular.eot);src: local("Cairo Regular"), local("Cairo-Regular"), url(../fonts/cairo/cairo-v9-arabic-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/cairo/cairo-v9-arabic-regular.woff2) format("woff2"), url(../fonts/cairo/cairo-v9-arabic-regular.woff) format("woff"), url(../fonts/cairo/cairo-v9-arabic-regular.ttf) format("truetype"), url(../fonts/cairo/cairo-v9-arabic-regular.svg#Cairo) format("svg");}@font-face {font-family: Cairo;font-style: normal;font-weight: 300;src: url(../fonts/cairo/cairo-v9-arabic-300.eot);src: local("Cairo Light"), local("Cairo-Light"), url(../fonts/cairo/cairo-v9-arabic-300.eot?#iefix) format("embedded-opentype"), url(../fonts/cairo/cairo-v9-arabic-300.woff2) format("woff2"), url(../fonts/cairo/cairo-v9-arabic-300.woff) format("woff"), url(../fonts/cairo/cairo-v9-arabic-300.ttf) format("truetype"), url(../fonts/cairo/cairo-v9-arabic-300.svg#Cairo) format("svg");}@font-face {font-family: Cairo;font-style: normal;font-weight: 700;src: url(../fonts/cairo/cairo-v9-arabic-700.eot);src: local("Cairo Bold"), local("Cairo-Bold"), url(../fonts/cairo/cairo-v9-arabic-700.eot?#iefix) format("embedded-opentype"), url(../fonts/cairo/cairo-v9-arabic-700.woff2) format("woff2"), url(../fonts/cairo/cairo-v9-arabic-700.woff) format("woff"), url(../fonts/cairo/cairo-v9-arabic-700.ttf) format("truetype"), url(../fonts/cairo/cairo-v9-arabic-700.svg#Cairo) format("svg");}@font-face {font-family: Cairo;font-style: normal;font-weight: 600;src: url(../fonts/cairo/cairo-v9-arabic-600.eot);src: local("Cairo SemiBold"), local("Cairo-SemiBold"), url(../fonts/cairo/cairo-v9-arabic-600.eot?#iefix) format("embedded-opentype"), url(../fonts/cairo/cairo-v9-arabic-600.woff2) format("woff2"), url(../fonts/cairo/cairo-v9-arabic-600.woff) format("woff"), url(../fonts/cairo/cairo-v9-arabic-600.ttf) format("truetype"), url(../fonts/cairo/cairo-v9-arabic-600.svg#Cairo) format("svg");}

:root {
	--white: #FFFFFF;
	--blue: #20295C;
	--orange: #F26F22;
	--yellow: #FCB514;
	--text-primary: #111111;
	--text-dark: #4E4953;
	--text-light: #A6A4A9;
	--root-font: 14px;
	--large-specing: 100px;
	--medium-specing: 50px;
	--small-specing: 20px;
}
:focus { outline: none; }
/* ===== Commonn CSS ===== */
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins';
	font-size: var(--root-font);
	font-weight: 400;
	letter-spacing: 0.35px;
	color: var(--text-dark);
}
html:lang(ar) body {
	direction: rtl;
	text-align: right;
	font-family: 'Cairo';
	letter-spacing: 0;
}
a { color: var(--text-dark); }
a:hover { text-decoration: none; }
a:focus { outline: none; }
b,
strong { font-weight: 700; }
ul,
ol {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 { margin-bottom: 0; }
p {
	line-height: 20px;
	margin-bottom: 0;
}
.errorTxt {
	font-size: 14px;
	margin-top: 2px;
	color: red;
}
html:lang(en) .paddingleft { padding-left: 7px; }
html:lang(en) .paddingright { padding-right: 7px; }
html:lang(en) .padding-left { padding-left: 7px; }
html:lang(en) .padding-right { padding-right: 7px; }
html:lang(ar) .paddingleft { padding-right: 7px; }
html:lang(ar) .paddingright { padding-left: 7px; }
html:lang(ar) .padding-left { padding-right: 7px; }
html:lang(ar) .padding-right { padding-left: 7px; }
.fix-height {
	position: relative;
	height: var(--large-specing);
}
button:focus,
.btn:focus {
	outline: none;
	box-shadow: none;
}
.btn-theme {
	padding: 10px 15px;
	font-size: var(--root-font);
	font-weight: 700;
	color: var(--white);
	background: var(--orange);
	border: 2px solid var(--orange);
}
.btn-theme:hover {
	color: var(--white);
	background: var(--orange);
	border: 2px solid var(--orange);
}
.btn-theme-bordered {
	padding: 10px 15px;
	font-size: var(--root-font);
	font-weight: 700;
	color: var(--orange);
	background: transparent;
	border: 2px solid var(--orange);
}
.btn-theme-bordered:hover {
	color: var(--white);
	background: var(--orange);
	border: 2px solid var(--orange);
}
.form-group { margin-bottom: 25px; }
.form-group label {
	display: flex;
	align-items: center;
	margin-bottom: 3px;
	font-size: calc(var(--root-font) + 1px);
	color: rgba(78, 73, 83, 0.6);
}
.form-group label i {
	margin-left: 3px;
	vertical-align: -3px;
	font-size: calc(var(--root-font) + 4px);
	color: var(--orange);
}
.form-group label span { color: red; }
.form-group img.calendar {
	position: absolute;
    top: 36px;
    right: 18px;
    width: 22px;
    z-index: 0;
}
.form-group .form-control {
	height: 44px;
	border-radius: 5px;
	padding: 5px 12px;
	font-size: var(--root-font);
	color: var(--text-dark);
	border: 1px solid rgba(78, 73, 83, 0.2);
}
.form-group .custom-select { background: #FFF url(../images/dropdown.svg) no-repeat right 0.75rem center/12px 12px; }
.form-group .form-control:focus {
	color: var(--text-dark);
	background-color: transparent;
	border-color: var(--blue);
	outline: 0;
	box-shadow: none;
	z-index: 1;
}
.form-group .iti { width: 100%; }
.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], 
.iti--allow-dropdown input[type=tel], 
.iti--separate-dial-code input, 
.iti--separate-dial-code input[type=text], 
.iti--separate-dial-code input[type=tel] {
	/*padding-left: 87px !important;*/
}
.custom-control-label {
	position: relative;
	margin-bottom: 0;
	vertical-align: middle;
	line-height: 24px;
	color: rgba(78, 73, 83, 0.6);
}
.custom-control-label a {
	color: var(--orange);
	text-decoration: underline;
}
.custom-checkbox .custom-control-label::before { border-radius: 0; }
.custom-control-input:checked ~ .custom-control-label::before {
	color: var(--white);
	background: var(--orange);
	border-color: var(--orange);
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
	border-color: none;
	box-shadow: none;
}
.gj-unselectable span.input-group-append {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
.gj-unselectable.input-group > .form-control:not(:last-child) {
	border-top-right-radius: .25rem;
	border-bottom-right-radius: .25rem;
}
.gj-datepicker-bootstrap[role=right-icon] button {
	width: 44px;
	height: 44px;
	text-align: center;
	padding: 0;
	border-radius: 0;
	z-index: 10;
	color: var(--text-dark);
	background: transparent;
	border: none;
}
.gj-datepicker-bootstrap[role=right-icon] button:hover {
	color: var(--text-dark);
	background: transparent;
}
.gj-datepicker-bootstrap[role=right-icon] button .gj-icon {
	font-size: 20px;
	top: 13px;
	left: 13px;
}
.gj-datepicker-bootstrap [role=right-icon] button {
    width: 44px;
    position: relative;
    border: 1px solid #ced4da;
    height: 44px;
}
.gj-datepicker-bootstrap [role=right-icon] button .gj-icon, 
.gj-datepicker-bootstrap [role=right-icon] button .material-icons {
    position: absolute;
    font-size: 22px;
    top: 10px;
    left: 10px;
}

.slick-list { padding: 0 !important; }
.first-step-error,
.second-step-error {
	width: 100%;
	margin-top: 15px;
	padding: 15px;
	border-radius: 5px;
	font-weight: 600;
	color: #dc1919;
	background: #f9d8d8;
}
.two-thumbnails-arrow { margin: -8px; }
.two-thumbnails-arrow .cardbox {
	width: calc(50% - 16px);
	flex: 0 0 calc(50% - 16px);
	margin: 8px;
}
.three-thumbnails { margin: -8px; }
.three-thumbnails .cardbox {
	width: calc(50% - 16px);
	flex: 0 0 calc(50% - 16px);
	margin: 8px;
}
.inner-banner {
	display: flex;
	align-items: flex-end;
	position: relative;
	height: 400px;
	padding-bottom: 50px;
	background: url(../images/vippack-bg-en.jpg);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
}
.inner-banner .container {
	position: relative;
	z-index: 1;
}
.inner-banner h1 {
	position: relative;
	font-size: 3.5rem;
	font-weight: 700;
	color: var(--white);
}
.inner-banner h1 br { display: none; }
.inner-banner:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 70%;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}
.slick-slide:focus { outline: none; }
.slick-slide img { margin: 0 auto; }
.slick-prev,
.slick-next {
	font-size: 20px;
	line-height: 0;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	display: block;
	width: 44px;
	height: 44px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	border: none;
	outline: none;
	z-index: 10;
	color: var(--orange);
	background: var(--white);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.slick-next:before,
.slick-prev:before { content: ""; }
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	outline: none;
	color: var(--orange);
	background: var(--white);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.slick-prev { left: -50px; }
.slick-next { right: -50px; }
header {
	padding: 15px;
	position: relative;
	z-index: 1;
	background: var(--blue);
}
header .header-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header .header-items a.gv-logo { display: block; }
header .header-items a.gv-logo img { width: 180px; }
header .header-items a { font-family: 'Cairo'; }
header .header-items h5 {
	color: var(--white);
	font-weight: 600;
}
header .header-items h5 span {
	color: var(--orange);
	font-weight: 700;
}
header .header-items a { color: #FFF; }
.starting-text {
	position: relative;
	padding-top: var(--medium-specing);
}
.starting-text img.compass-pattern {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 550px;
}
.starting-text span { font-size: calc(var(--root-font) + 2px); }
.vip-pack { position: relative; }
.vip-pack img.compass-pattern {
	position: absolute;
	top: -40px;
	left: 0;
	z-index: -1;
	height: 550px;
}
.vip-pack .vip-pack-content {
	max-width: 1000px;
	margin: 0 auto;
}
.vip-pack .vip-pack-content .card {
	margin-top: 40px;
	border-radius: 5px !important;
	border: 1px solid #BBB6BA;
}
.vip-pack .vip-pack-content .card .card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 20px;
	font-size: calc(var(--root-font) + 6px);
	font-weight: 700;
	border-radius: 5px 5px 0 0;
	color: var(--blue);
	background-color: rgba(58, 142, 178, 0.05);
	border-bottom: 1px solid #BBB6BA;
}
.vip-pack .vip-pack-content .card .card-body {
	margin-top: var(--small-specing);
	padding: 20px;
}
.vip-pack .vip-pack-content .card .card-body .car-selection {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.vip-pack .vip-pack-content .card .card-body .car-selection div:first-child { margin-inline-end: 15px; }
.vip-pack .vip-pack-content .card .card-body .car-selection input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.vip-pack .vip-pack-content .card .card-body .car-selection label {
    width: 90px;
    flex: 0 0 90px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    color: var(--text-dark);
    background: var(--white);
    border: 2px solid #E3E3E3;
}
.vip-pack .vip-pack-content .card .card-body .car-selection label span {
	display: block;
}
.vip-pack .vip-pack-content .card .card-body .car-selection input:checked+label {
	background: var(--white);
	border: 2px solid var(--orange);
}
.vip-pack .vip-pack-content .card .card-body .added-cars .title {
	display: block;
	text-align: center;
	font-size: calc(var(--root-font) + 4px);
	font-weight: 600;
	margin-bottom: 15px;
}
.vip-pack .vip-pack-content .card .card-body .added-cars .listing {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: -10px;
	margin-bottom: 10px;
}
.vip-pack .vip-pack-content .card .card-body .added-cars .list {
	position: relative;
	margin: 10px;
	width: calc(50% - 20px);
	flex: 0 0 calc(50% - 20px);
}
@media (max-width: 991px) {
	.vip-pack .vip-pack-content .card .card-body .added-cars .list {
		width: calc(50% - 20px);
		flex: 0 0 calc(50% - 20px);
	}
}
@media (max-width: 767px) {
	.vip-pack .vip-pack-content .card .card-body .added-cars .list {
		width: calc(100% - 20px);
		flex: 0 0 calc(100% - 20px);
	}
}
.vip-pack .vip-pack-content .card .card-body .added-cars .list input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 0;
}
.vip-pack .vip-pack-content .card .card-body .added-cars .list label {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	padding: 25px;
	margin-bottom: 0;
	border-radius: 10px;
	z-index: 1;
	background: var(--white);
	border: 2px solid #DDD;
}
.vip-pack .vip-pack-content .card .card-body .added-cars .list input:checked+label  { border: 2px solid var(--orange); }

.vip-pack .vip-pack-content .card .card-body .added-cars .list label .car-details {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.vip-pack .vip-pack-content .card .card-body .added-cars .list label .car-details img {
	width: 50px;
	height: auto;
}
.vip-pack .vip-pack-content .card .card-body .added-cars .list label .car-details small {
	display: block;
	margin-bottom: 0;
	font-size: calc(var(--root-font) + 4px);
	font-weight: 500;
	margin-inline-start: 0.75rem;
}
.vip-pack .vip-pack-content .card .card-body .added-cars .list a {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -10px;
	right: -10px;
	z-index: 2;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	color: var(--orange);
	background: #FCD6C0;
}
.vip-pack .vip-pack-content .card .card-body .added-cars .list a i { font-size: 12px; }
.vip-pack .vip-pack-content .card .card-body .add-another-car { 
	font-weight: 700; 
	text-align: center;
}
.vip-pack .vip-pack-content .card .card-body .add-another-car a { color: var(--orange); }
.vip-pack .vip-pack-content .card .card-body .add-another-car a i {
	width: 24px;
	height: 24px;
	line-height: 24px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin-right: 5px;
	background: #FCD6C0;
}
.vip-pack .vip-pack-content .checkbox-section {
	margin-top: var(--medium-specing);
}
.vip-pack .vip-pack-content .checkbox-section div:last-child {
	margin-top: var(--small-specing);
}
.vip-pack .vip-pack-content .action-button1 {
	margin-top: var(--large-specing);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.vip-pack .vip-pack-content .action-button1 .btn {
	width: 200px;
	margin-inline-start: auto;
}
.vip-pack .vip-pack-content .action-button2 {
	margin-top: var(--medium-specing);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.vip-pack .vip-pack-content .action-button2 .btn { width: 200px; }
.vip-pack .vip-pack-content .gold-pack-content ul li {
	display: block;
	padding: 30px 20px;
	border-bottom: 1px solid #BBB6BA;
}
.vip-pack .vip-pack-content .gold-pack-content ul li .two-thumbnails { 
	width: 90%; 
	margin: 0 auto;
}
.vip-pack .vip-pack-content .gold-pack-content ul li .two-thumbnails .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -20px;
}
.vip-pack .vip-pack-content .gold-pack-content ul li .two-thumbnails .slick-dots li {
    padding: 0 !important;
    border-bottom: none !important;
    margin: 0;
	width: 14px;
    height: 14px;
}
.vip-pack .vip-pack-content .gold-pack-content ul li .two-thumbnails .slick-dots li button {
	width: 14px;
    height: 14px;
}
.vip-pack .vip-pack-content .gold-pack-content ul li .two-thumbnails .slick-dots li button:before {
	line-height: 14px;
    width: 14px;
    height: 14px;
}
.vip-pack .vip-pack-content .gold-pack-content ul li .primary-label {
	margin-bottom: 0;
	text-transform: uppercase;
}
.vip-pack .vip-pack-content .gold-pack-content ul li:last-child {
	border-bottom: none;
}
.vip-pack .vip-pack-content .gold-pack-content ul li:last-child .right-side {
	width: calc(100% - 160px);
	flex: 0 0 calc(100% - 160px);
}
.vip-pack .vip-pack-content .gold-pack-content ul li.multi-column {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
.vip-pack .vip-pack-content .gold-pack-content ul li.multi-column .left-side {
	width: 150px;
	flex: 0 0 150px;
	margin-right: 10px;
}
.vip-pack .vip-pack-content .gold-pack-content ul li.multi-column .right-side {
	width: calc(100% - 200px);
	flex: 0 0 calc(100% - 200px);
}
.vip-pack .vip-pack-content .gold-pack-content ul li.multi-column .right-side .car-details {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 10px;
}
.vip-pack .vip-pack-content .gold-pack-content ul li.multi-column .right-side .car-details label { margin-bottom: 0; }
.vip-pack .vip-pack-content .gold-pack-content ul li.multi-column .right-side .car-details label img {
	width: 34px;
    margin-inline-end: 0.25rem;
}
.vip-pack .vip-pack-content .gold-pack-content ul li.multi-column .right-side .car-details:last-child { margin-bottom: 0; }
.vip-pack .vip-pack-content .gold-pack-content ul li.multi-column .right-side .car-details a {
	font-weight: 600;
	color: var(--orange);
}
.vip-pack .vip-pack-content .gold-pack-content ul li.multi-column .right-side .car-details a i {
	margin-left: 3px;
	vertical-align: -3px;
	font-size: calc(var(--root-font) + 4px);
	color: var(--orange);
}
.vip-pack .vip-pack-content .gold-pack-content ul li.multi-column .right-side .car-details .change-car {
	display: flex;
	align-items: center;
}
.vip-pack .vip-pack-content .gold-pack-content ul li.multi-column .right-side a.add-car {
	font-weight: 600;
	color: var(--orange);
}
.vip-pack .vip-pack-content .gold-pack-content ul li.multi-column .right-side a.add-car i {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	display: inline-block;
	font-size: 12px;
	margin-right: 4px;
	background: var(--orange);
	color: var(--white);
}
.vip-pack .vip-pack-content .my-tickets {
	margin-top: 15px; 
	padding: 0 50px;
   }
.vip-pack .vip-pack-content .my-tickets .slick-prev{ left: 5px; }
.vip-pack .vip-pack-content .my-tickets .slick-next{ right: 5px; }
.vip-pack .vip-pack-content .my-tickets .slick-prev, 
.vip-pack .vip-pack-content .my-tickets .slick-next {
   width: 40px;
   height: 40px;
   font-size: 17px;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}
 .vip-pack .vip-pack-content .my-tickets .ticket-count {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 15px;
   margin: 12px;
   text-align: center;
   border-radius: 10px;
   background: var(--white);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
   min-height: 190px;
}
.vip-pack .vip-pack-content .my-tickets .ticket-count .entrycircle {
	width: 100px;
	height: 50px
}
.vip-pack .vip-pack-content .my-tickets .ticket-count img {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
}
.vip-pack .vip-pack-content .my-tickets .ticket-count h5 {
	font-size: 18px;
	font-weight: 600;
	margin-top: -30px;
	position: absolute;
	z-index: 1;
	color: #000000;
}
.vip-pack .vip-pack-content .my-tickets .ticket-count h5.ticket-circle {
	position: relative;
	margin-top: 0;
}
.vip-pack .vip-pack-content .my-tickets .ticket-count h5.ticket-circle span {
	color: #0DD40D;
	padding: 7px 15px;
	background-color: rgba(13, 212, 13, 0.15);
	border-radius: 50%;
	font-size: 20px;
	font-weight: 600;
}
.vip-pack .vip-pack-content .my-tickets .ticket-count h5 small {
	display: block;
	font-size: 14px;
	color: #B6B6B5;
	margin-top: 5px;
}
.vip-pack .vip-pack-content .my-tickets .ticket-count h5.ticket-circle small {
	color: #F26F22;
	margin-top: 20px;
}
.vip-pack .vip-pack-content .my-tickets .ticket-count .ticket-title {
	margin-top: 15px;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 10px;
	min-height: 40px;
	color: #000000;
}
.vip-pack .vip-pack-content .my-tickets .ticket-count h5.ticket-circle+.ticket-title { margin-top: 10px; }
.vip-pack .vip-pack-content .my-tickets .ticket-count .ticket-desc {
	font-size: 12px;
	line-height: 15px;
	font-weight: 300;
	color: #000000;
	min-height: auto;
}
.vip-pack .vip-pack-content .my-tickets .ticket-count p { font-weight: 700; }
.vip-pack .vip-pack-content .my-tickets .ticket-count span {
	font-size: calc(var(--root-font) - 2px);
	font-weight: 600;
	color: rgba(78, 73, 83, 0.4);
}
.vip-pack .vip-pack-content .my-wonderpass {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -12px -12px;
}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count { margin: 12px; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .wonderpass-title {
    font-size: calc(var(--root-font) + 6px);
    font-weight: var(--font-weight-bold);
    color: rgba(78, 73, 83, 0.5);
    margin-bottom: 10px;
}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .wonderpass-title span { float: left; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .wonderpass-title .btn {
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    font-size: 20px;
    float: right;
}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .wonderpass-title .btn:hover {
    color: var(--ornage);
    background: transparent;
}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    width: 340px;
    height: 215px;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.general { background: #FAB525; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.private { background: #5d2940; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.silver,
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.mini { background: #8DAE83; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.gold { background: #000000 }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.diamond { background: #353535; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.platinum,
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.platinum.plus { background: #00496D; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.complimentary  { background: #8DAE83; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    padding-inline-end: 10px;
}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details .top h5 {
    font-size: calc(var(--root-font) + 2px);
    font-weight: var(--font-weight-semibold);
    color: var(--white);
}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details .top a { display: block; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details .top a img {
    width: 26px;
    vertical-align: middle;
}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details .middle {
    border-radius: 7px;
    padding: 10px;
    background: var(--white);
}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.general .middle { color: #FAB525; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.private .middle { color: #5d2940; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.silver .middle,
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.mini,
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.mini.pack { color: #8DAE83; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.gold .middle { color: #000000; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.diamond .middle { color: #353535; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.platinum .middle,
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.platinum.plus .middle { color: #00496D; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.complimentary .middle { color: #8DAE83; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details .middle>div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;
}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details .middle>div:last-child { margin-bottom: 0; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details .middle>div h6 {
    font-size: calc(var(--root-font) - 2px);
    font-weight: var(--font-weight-semibold);
}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details .middle>div a {
    font-size: calc(var(--root-font) - 2px);
    font-weight: var(--font-weight-medium);
}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.general .middle>div a { color: #FAB525; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.private .middle>div a { color: #5d2940; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.silver .middle>div a,
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.mini .middle>div a,
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.mini.pack .middle>div a { color: #8DAE83; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.gold .middle>div a { color: #000000;}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.diamond .middle>div a { color: #353535; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.platinum .middle>div a,
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.platinum.plus .middle>div a { color: #00496D; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.complimentary .middle>div a { color: #8DAE83; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details .middle>div .list {
    width: 33.33%;
    padding: 0 3px;
    margin: 0 3px;
}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.general .middle>div .list { border-inline-end: 1px solid #FAB525; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.private .middle>div .list { border-inline-end: 1px solid #5d2940; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.silver .middle>div .list,
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.mini .middle>div .list,
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.mini.pack .middle>div .list { border-inline-end: 1px solid #8DAE83; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.gold .middle>div .list { border-inline-end: 1px solid #000000; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.diamond .middle>div .list { border-inline-end: 1px solid #353535; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.platinum .middle>div .list,
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.platinum.plus .middle>div .list { border-inline-end: 1px solid #00496D; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details.complimentary .middle>div .list { border-inline-end: 1px solid #8DAE83; }
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details .middle>div .list:first-child {
    padding-inline-start: 0;
    margin-inline-start: 0;
}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details .middle>div .list:last-child {
    border-inline-end: none;
    padding-inline-end: 0;
    margin-inline-end: 0;
}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details .middle>div .list label {
    font-size: calc(var(--root-font) - 2px);
    font-weight: var(--font-weight-medium);
    line-height: 14px;
    height: 28px;
    margin-bottom: 10px;
    display: block;
}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details .middle>div .list h5 {
    font-size: calc(var(--root-font) + 4px);
    font-weight: var(--font-weight-semibold);
}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details .middle>div .list h5 small {
    font-size: calc(var(--root-font) - 2px);
    opacity: 0.5;
    display: inline-block;
    margin-inline-start: 5px;
}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 15px;
    padding: 0;
}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details .bottom a {
    font-size: calc(var(--root-font) - 2px);
    font-weight: var(--font-weight-semibold);
    color: var(--white);
	background: rgba(256, 256, 256, 0.2);
    padding: 6px 15px;
    border-radius: 4px;
}
.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details .bottom a img {
    width: 15px;
    vertical-align: middle;
    margin-inline-end: 2px;
}

.vip-pack .vip-pack-content .complementary-offer {
	margin: 8px;
	padding: 15px;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	background: var(--white);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.vip-pack .vip-pack-content .complementary-offer img {
	margin: 0 auto;
	width: auto;
	height: 80px;
}
.vip-pack .vip-pack-content .complementary-offer h6 {
	font-size: var(--root-font);
	font-weight: 700;
	margin: 20px 0 10px;
}
.vip-pack .vip-pack-content .complementary-offer p {
	font-size: calc(var(--root-font) - 2px);
	line-height: 18px;
	margin-bottom: 6px;
	text-align: left;
	position: relative;
	padding-left: 15px;
}
.vip-pack .vip-pack-content .complementary-offer p:before {
	content: "•";
	position: absolute;
	top: 0;
	left: 0;
	font-size: 20px;
}
.vip-pack .vip-pack-content .complementary-offer a {
	font-size: calc(var(--root-font) - 2px);
	color: var(--orange);
}
.vip-pack .vip-pack-content .complementary-offer { 
	min-height: 300px;
	display: flex;
	align-items: center;
	justify-content: center; 
}
.vip-pack.gold-pack .vip-pack-content .card {
	border: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.vip-pack.gold-pack .vip-pack-content .card .card-header {
	border-bottom: 0;
}
/* ===== Footer ===== */
footer {
	position: relative;
	background: var(--blue);
}
footer .footer-top {
	color: var(--white);
	background: rgba(255, 255, 255, 0.1);
	position: relative;
	z-index: 1;
}
footer .footer-top .footer-top-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px 0;
}
footer .footer-top .footer-top-content .opening-hours {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer .footer-top .footer-top-content h6 {
	display: flex;
	align-items: center;
	position: relative;
	line-height: normal;
	font-size: calc(var(--root-font) + 4px);
	margin-right: 12px;
	white-space: nowrap;
	min-width: 120px;
}
footer .footer-top .footer-top-content h6 img {
	width: 20px;
	margin-right: 7px;
	vertical-align: middle;
}
footer .footer-top .footer-top-content p span {
	font-size: 16px;
	font-weight: 600;
	color: var(--yellow);
}
footer .footer-top .accessibility {
	font-weight: 600;
	white-space: nowrap;
	width: 180px;
	flex: 0 0 180px;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
footer .footer-top .accessibility img {
	width: 24px;
	margin-right: 7px;
	vertical-align: middle;
}
footer .footer-top .accessibility a {
	color: var(--white);
}
footer .footer-bottom {
	padding: 50px 0 20px;
	color: var(--white);
	overflow: hidden;
	position: relative;
}
footer .footer-bottom .container { position: static; }
footer .footer-bottom .footer-logo img { width: 160px; }
footer .footer-bottom .footer-title {
	font-weight: 600;
	color: rgba(255, 255, 255, 0.5);
	margin: 0 0 20px;
	letter-spacing: initial;
	text-transform: none;
}
footer .footer-bottom .quick-links li {
	display: block;
	padding: 0;
	margin-bottom: 12px;
}
footer .footer-bottom .quick-links li:last-child { margin-bottom: 0; }
footer .footer-bottom .quick-links a { color: var(--white); }
footer .footer-bottom .contact-us p { margin-bottom: 15px; }
footer .footer-bottom .contact-us a {
	font-weight: 500;
	color: var(--white);
	text-decoration: underline;
}
footer .footer-bottom .contact-us .btn {
	padding: .4rem 2.5rem;
	font-size: var(--font-regular);
	font-weight: 500;
	color: var(--white);
	background: transparent;
	border: 2px solid var(--white);
	text-decoration: none;
}
footer .footer-bottom .news-letter {
	margin-bottom: 30px;
}
footer .footer-bottom .news-letter label {
	font-weight: 500;
	margin-bottom: 3px;
	color: var(--white);
}
footer .footer-bottom .news-letter input {
	height: 38px;
	border: none;
	border-radius: 3px;
	color: var(--white);
	background: rgba(255, 255, 255, 0.2);
}
footer .footer-bottom .news-letter input:focus {
	color: var(--white);
	background: rgba(255, 255, 255, 0.2);
}
footer .footer-bottom .news-letter .form-control::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
	opacity: 1;
}
footer .footer-bottom .news-letter .form-control::-moz-placeholder {
	color: rgba(255, 255, 255, 0.5);
	opacity: 1;
}
footer .footer-bottom .news-letter .form-control:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
	opacity: 1;
}
footer .footer-bottom .news-letter .form-control::-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
	opacity: 1;
}
footer .footer-bottom .news-letter .form-control::placeholder {
	color: rgba(255, 255, 255, 0.5);
	opacity: 1;
}
footer .footer-bottom .news-letter .btn {
	position: absolute;
	top: 0;
	right: 0;
	font-size: var(--font-regular);
	font-weight: 600;
	line-height: 26px;
	padding: 5px 10px;
	border-radius: 0 3px 3px 0;
	color: var(--white);
	background: var(--orange);
	min-width: 80px;
}
footer .footer-bottom .social ul {
	display: flex;
	align-items: center;
}
footer .footer-bottom .social ul li { display: block; }
footer .footer-bottom .social ul li a {
	display: block;
	width: 36px;
	height: 36px;
	line-height: 34px;
	text-align: center;
	font-size: calc(var(--root-font) + 4px);
	color: var(--white);
}
footer .footer-bottom .social ul li a:hover { color: var(--orange); }
footer .footer-bottom .footer-links { margin-top: 80px; }
footer .footer-bottom .footer-links ul {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
footer .footer-bottom .footer-links ul li {
	display: block;
	padding: 0;
}
footer .footer-bottom .footer-links ul li:last-child { margin-inline-end: 0; }
footer .footer-bottom .footer-links a {
	display: inline-block;
	margin-inline-end: 30px;
	color: var(--white);
}
footer .footer-bottom:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/footer-bg.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.live-chat {
	position: fixed;
	bottom: 25px;
	right: 25px;
	z-index: 11;
}
.live-chat a { display: block; }
.live-chat a img { width: 50px; }
.live-chat a.chat-image { display: block; }
.live-chat a.cart-image { display: none; }
/* ===== //Footer ===== */

/* Modal */

.modal-content.congrulation {
	padding: 40px;
	background: var(--blue);
	border: none;
}
.modal-content.congrulation .modal-body {
	padding: 0;
	text-align: center;
	color: var(--white);
}
.modal-content.congrulation .modal-body h4 {
	font-size: 40px;
	font-weight: 700;
}
.modal-content.congrulation .modal-body img {
	margin-top: 20px;
	margin-bottom: 20px;
}
.modal-content.congrulation .modal-body p {
	text-align: center;
	margin-top: 10px;
}
#VIPErrorModal .modal-content.congrulation .modal-body p {
	margin-top: 0;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
}
#VIPErrorModal .modal-content.congrulation .modal-body p a { color: var(--white); }
#VIPErrorModal .modal-content.congrulation .modal-body p a:hover { color: var(--orange); }
.modal-content.congrulation .modal-body .btn {
	width: 180px;
	margin-top: 30px;
}
.modal-content.offers {
	height: 640px;
	overflow: auto;
}
.modal-content.offers a.cross {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 20px;
	z-index: 1;
}
.modal-content.offers a.cross:hover {
	color: var(--orange);
}
.modal-body-title {
	text-align: center;
	margin-bottom: 30px;
	color: var(--text-primary);
}
.modal-body-title h4 {
	font-size: calc(var(--root-font) + 4px);
	font-weight: 600;
	margin-top: 10px;
}
@media (min-width: 576px) {
	#validateOTP .modal-dialog {
		max-width: 500px;
		margin: 1.75rem auto;
	}
}
#validateOTP .modal-content {
	padding: 40px;
    background: var(--blue);
    border: none;
}
@media (max-width: 576px) {
	#validateOTP .modal-content { padding: 24px; }
}
#validateOTP .modal-content a {
	position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: var(--white);
    text-align: center;
    line-height: 33px;
    z-index: 1;
}
#validateOTP .modal-content a:hover { color: var(--white); }
#validateOTP .modal-content .modal-body { padding: 0; }
#validateOTP .modal-content .modal-body h3 {
	font-size: 40px;
    margin-bottom: 30px;
	font-weight: 700;
	color: var(--white);
}
@media (max-width: 767px) {
	#validateOTP .modal-content .modal-body h3 { font-size: 28px; }
}
#validateOTP .modal-content .modal-body #validate-otp .form-group label {
	display: block;
    margin-bottom: 5px;
    color: var(--white)
}
#validateOTP .modal-content .modal-body #validate-otp .form-group .form-control {
	color: var(--text-dark);
    background-color: var(--white);
    border-color: var(--blue);
    outline: 0;
    box-shadow: none;
    z-index: 1;
}
.no-offers {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 250px;
}
.no-offers img {
	width: 70px;
	opacity: 0.6;
}
.no-offers P {
	font-size: 18px;
	margin-top: 10px;
	font-weight: 500;
	color: #cccccc;
}
.complementary-offer-list {
	min-height: 480px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 15px 20px;
	border-radius: 10px;
	margin: 8px;
	position: relative;
}
.complementary-offer-list .top ul li {
	display: block;
	margin-bottom: 10px;
}
.complementary-offer-list .top ul li label {
	margin-bottom: 0;
	font-size: calc(var(--root-font) - 2px);
	color: rgba(78, 73, 83, 0.5);
}
.complementary-offer-list .top ul li p { color: var(--text-primary); }
.complementary-offer-list .top ul li:first-child p {
	height: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.complementary-offer-list .top ul li:last-child { margin-bottom: 0; }
.complementary-offer-list .top ul li a.offer-hide {
    display: inline-block;
    float: right;
    color: var(--orange);
}
.consumed-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.consumed-div:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background: rgba(0,0,0, 0.8);
}
.consumed-div span {
    position: relative;
    z-index: 2;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFF;
}
.consumed-div a {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 2;
    color: var(--orange);
}
.complementary-offer-list .bottom {
	height: 190px;
	margin-top: 20px;
}
.complementary-offer-list .bottom .fixed-height {
	height: 140px;
}
.complementary-offer-list .bottom .fixed-height .promo-code {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	min-height: 23px;
}
.complementary-offer-list .bottom .fixed-height .promo-code label {
	margin-bottom: 0;
	font-size: calc(var(--root-font) - 2px);
	color: rgba(78, 73, 83, 0.5);
}
.complementary-offer-list .bottom .fixed-height .promo-code a {
	color: var(--orange);
}
.complementary-offer-list .bottom .fixed-height .promo-code a i {
	vertical-align: 0px;
	margin-right: 3px;
	font-size: calc(var(--root-font) + 4px);
}
.complementary-offer-list .bottom .fixed-height .qr-code {
	text-align: center;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.complementary-offer-list .bottom .fixed-height .qr-code img { width: 90px; }
.complementary-offer-list .bottom .fixed-height .qr-code span {
	display: block;
	font-weight: 500;
	margin-top: 5px;
	color: var(--text-primary);
}
.complementary-offer-list .bottom .fixed-height .qr-code h2 {
	font-weight: 600;
	font-size: 30px;
	margin: 0;
	text-align: center;
	color: var(--text-primary);
	
}
.complementary-offer-list .bottom p {
	font-size: calc(var(--root-font) - 1px);
	line-height: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	/*direction: rtl; */
}
.complementary-offer-list .bottom p a { color: var(--orange); }
.complementary-offer-list .terms-conditions {
	text-align: center;
	margin-top: 15px;
	font-size: calc(var(--root-font) - 1px);
}
.complementary-offer-list .terms-conditions a { color: var(--orange); }
.terms-content h6, 
.terms-content-expo h6 {
	margin-bottom: 10px;
	font-weight: 600;
	color: var(--text-primary);
}
.terms-content p {
	margin: 0 0 5px;
	color: var(--text-primary);
	display: list-item;
	list-style-type: disc;
	list-style-position: inside;
}
.terms-content-expo p {
	margin: 0 0 5px;
	color: var(--text-primary);
}
.terms-content p span {
	display: inline-block;
	direction: ltr;
}
.terms-content a,
.terms-content-expo a { color: var(--orange); }
.footer-logo img { height: 180px; }

#load_model_content .modal-content .modal-header { 
	padding: 0.75rem;
	background: var(--blue); 
}
#load_model_content .modal-content .modal-header .modal-title {
	font-size: 20px;
	font-weight: 600;
	color: var(--white);
}
#load_model_content .modal-content .modal-header .modal-title span {
    display: block;
    font-size: 15px;
    font-weight: 500;
}
#load_model_content .modal-content .modal-header .close {
    float: right;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 1;
    color: var(--white);
    text-shadow: none;
    opacity: 1;
}
#load_model_content .modal-content .modal-header .close:hover { color: var(--orange); }
#load_model_content .modal-content .modal-body { padding: 20px; }
#load_model_content .modal-content .modal-body .car-selection {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
#load_model_content .modal-content .modal-body .car-selection div:first-child { margin-inline-end: 15px; }
#load_model_content .modal-content .modal-body .car-selection input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#load_model_content .modal-content .modal-body .car-selection label {
    width: 90px;
    flex: 0 0 90px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    color: var(--text-dark);
    background: var(--white);
    border: 2px solid #E3E3E3;
}
#load_model_content .modal-content .modal-body .car-selection label span {
	display: block;
}
#load_model_content .modal-content .modal-body .car-selection input:checked+label {
	background: var(--white);
	border: 2px solid var(--orange);
}
#load_model_content .modal-content .modal-body .btn.btn-theme-bordered {
	width: 110px;
    padding: 7px;
}


::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-track { background: #F1F1F1; }
::-webkit-scrollbar-thumb { background: var(--blue); }
/* Arabic Language */
html:lang(ar) h1, 
html:lang(ar) h2, 
html:lang(ar) h3, 
html:lang(ar) h4, 
html:lang(ar) h5, 
html:lang(ar) h6 { letter-spacing: -1px; }
html:lang(ar) header .header-items a { font-family: 'Poppins'; }
html:lang(ar) .inner-banner {
	background: url(../images/vippack-bg-ar.jpg);
	background-position: center left;
}
html:lang(ar) .inner-banner h1 {
	text-align: right;
}
html:lang(ar) .form-group label i {
	margin-left: 0;
	margin-right: 3px;
}
html:lang(ar) .custom-select {
	background: #FFF url(../images/dropdown.svg) no-repeat left 0.75rem center/12px 12px;
}
html:lang(ar) .gj-unselectable span.input-group-append {
	left: 0;
	right: auto;
}
html:lang(ar) .custom-control {
	padding-right: 1.5rem;
	padding-left: 0;
}
html:lang(ar) .custom-control-input {
	right: 0;
	left: auto;
}
html:lang(ar) .custom-control-label::before,
html:lang(ar) .custom-control-label::after {
	right: -1.5rem;
	left: auto;
}
html:lang(ar) .starting-text img.compass-pattern {
	right: 0;
	left: auto;
	transform: rotatey(180deg);
}
html:lang(ar) .vip-pack img.compass-pattern {
	right: 0;
	left: auto;
	transform: rotatey(180deg);
}
html:lang(ar) .modal-content.congrulation .modal-body p {
	text-align: center;
	font-size: 18px;
}
html:lang(ar) .modal-content.offers a.cross {
	left: 20px;
	right: auto;
}
html:lang(ar) .vip-pack .vip-pack-content .gold-pack-content ul li.multi-column .right-side .car-details a i {
	margin-left: 0;
	margin-right: 3px;
}
html:lang(ar) footer .footer-bottom .news-letter .btn {
	left: 0;
	right: auto;
	border-radius: 3px 0 0 3px;
}
html:lang(ar) footer .footer-top .footer-top-content h6 {
	margin-right: 0;
	margin-left: 12px;
}
html:lang(ar) footer .footer-top .footer-top-content h6 img {
	margin-right: 0;
	margin-left: 7px;
}
html:lang(ar) footer .footer-top .accessibility img {
	margin-right: 0;
	margin-left: 7px;
}
html:lang(ar) .slick-slider {
	direction: ltr;
}
html:lang(ar) .gj-picker-bootstrap {
	direction: ltr;
}
html:lang(ar) .vip-pack .vip-pack-content .complementary-offer p {
	text-align: right;
	padding-left: 0;
	padding-right: 15px;
}
html:lang(ar) .vip-pack .vip-pack-content .complementary-offer p:before {
	left: auto;
	right: 0;
}
html:lang(ar) .vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details .bottom > div .list h5 a {
	margin-left: 0;
	margin-right: 4px;
}
html:lang(ar) .btn-theme {
	padding: 3px 15px;
	font-size: 24px;
}
html:lang(ar) .complementary-offer-list .top ul li a.offer-hide { float: left; }
html:lang(ar) .consumed-div a {
	right: auto;
	left: 20px;
}
html:lang(ar) .form-group img.calendar {
	right: auto;
	left: 18px;
}
html:lang(ar) .iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
	right: 0;
    left: auto;
}
html:lang(ar) .iti--allow-dropdown input, .iti--allow-dropdown input[type=text], 
html:lang(ar) .iti--allow-dropdown input[type=tel], 
html:lang(ar) .iti--separate-dial-code input, 
html:lang(ar) .iti--separate-dial-code input[type=text], 
html:lang(ar) .iti--separate-dial-code input[type=tel] {
	padding-right: 89px !important;
	padding-left: 6px !important;
	direction: rtl;
}
html:lang(ar) .iti__country {
    display: flex;
    align-items: center;
}
html:lang(ar) .iti__dial-code { direction: ltr; }
html:lang(ar) .iti--separate-dial-code .iti__selected-dial-code, 
html:lang(ar) .iti__arrow {
	margin-left: 0;
	margin-right: 6px;
}
html:lang(ar) .added-cars .list a {
	right: auto;
	left: -10px;
}
html:lang(ar) #validateOTP .modal-content a {
	right: auto;
	left: 15px;
}

/* Media Queries */
@media (min-width: 1440px) {
	.container { max-width: 1380px; }
}
@media (max-width: 1439px) {
	.inner-banner h1 {
		font-size: 2.5rem;
	}
}
@media (max-width: 992px) {
	header .header-items h5 {
		position: relative;
		left: 0;
		top: 0;
		transform: none;
	}
	.three-thumbnails {
		display: block;
	}
	.vip-pack-content {
		padding: 0 40px;
	}
	.inner-banner {
		height: 300px;
		padding-bottom: 30px;
	}
	.inner-banner h1 {
		font-size: 2rem;
	}
	.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details {
		width: 305px;
		height: 190px;
		padding: 12px;
	}
	.vip-pack .vip-pack-content .my-wonderpass .wonderpass-count .card-details .top h5 {
		padding-left: 10px;
	}
	footer .footer-top .footer-top-content .accessibility { display: none; }
	footer .footer-bottom .contact-us,
	footer .footer-bottom .news-letter,
	footer .footer-bottom .footer-links { margin-top: 40px; }
}
@media (max-width: 767px) {
	html:lang(en) .paddingleft {
		padding-left: 15px;
	}
	html:lang(en) .paddingright {
		padding-right: 15px;
	}
	html:lang(ar) .paddingleft {
		padding-right: 15px;
	}
	html:lang(ar) .paddingright {
		padding-left: 15px;
	}
	header {
		height: 130px;
	}
	header .container {
		padding: 0;
	}
	header .header-items h5 {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		text-align: center;
		font-size: 20px;
		top: auto;
	}
	.inner-banner {
		height: 280px;
		padding-bottom: 20px;
	}
	.inner-banner h1 {
		font-size: 26px;
	}
	.inner-banner h1 br {
		display: block;
	}
	.vip-pack .vip-pack-content .card .card-header .btn {
		zoom: 0.9;
	}
	.vip-pack-content {
		padding: 0 15px;
	}
	.vip-pack .vip-pack-content .action-button1 .btn {
		width: 160px;
	}
	.vip-pack .vip-pack-content .action-button2 .btn {
		width: 160px;
	}
	.vip-pack .vip-pack-content .gold-pack-content ul li {
		padding: 30px 12px;
	}
	.vip-pack .vip-pack-content .gold-pack-content ul li.multi-column .left-side {
		width: 100%;
		flex: 0 0 100%;
		margin-right: 0;
		margin-bottom: 7px;
	}
	.vip-pack .vip-pack-content .gold-pack-content ul li.multi-column .right-side {
		width: 100%;
		flex: 0 0 100%;
	}
	footer .footer-bottom { padding-top: 20px; }
	footer .footer-bottom .footer-logo { text-align: center; }
	footer .footer-bottom .footer-title { margin: 0 0 12px; }
	footer .footer-bottom .quick-links { margin-top: 40px; }
	footer .footer-bottom .footer-links a { margin-inline-end: 15px; }
	footer .footer-bottom .footer-links ul li { margin-bottom: 10px; }
	.slick-prev {
		left: calc(50% - 30px);
		top: auto;
		bottom: -70px;
		transform: translateX(-50%);
	}
	.slick-next {
		right: calc(50% - 30px);
		top: auto;
		bottom: -70px;
		transform: translateX(50%);
	}
	.vip-pack .vip-pack-content .gold-pack-content ul li .two-thumbnails { 
		width: 100%; 
		margin: 0 auto;
	}
	.vip-pack .vip-pack-content .complementary-offer { min-height: 260px; }
	.vip-pack .vip-pack-content .complementary-offer img {
		width: auto;
		height: 90px;
	}
}
@media (min-width: 992px) {
	.modal-dialog.modal-lg {
		max-width: none;
		width: 1100px;
		margin: 20px auto;
	}
}
@media (min-width: 576px) {
	.modal-dialog {
		max-width: 700px;
		margin: 1.75rem auto;
	}
}
@media (max-width: 576px) {
	.inner-banner {
		background: url(../images/vippack-bg-mobile-en.jpg);
		background-position: center center;
	}
	.vip-pack .vip-pack-content .my-tickets { margin: -8px; }
	.vip-pack .vip-pack-content .my-tickets .ticket-count {
		width: calc(50% - 16px);
		margin: 8px;
	}
	html:lang(ar) .inner-banner {
		background: url(../images/vippack-bg-mobile-ar.jpg);
		background-position: center center;
	}
}
.gender-choose {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: -7px;
}
.gender-choose label {
	user-select: none;
}
.gender-choose input[type="radio"] {
	display: none;
}
.gender-choose input[type="radio"] + label {
	padding: 5px 20px;
	margin: 7px;
	height: 44px;
	width: calc(50% - 14px);
	flex: 0 0 calc(50% - 14px);
	border-radius: 5px;
	position: relative;
	text-align: center;
	color: var(--text-dark);
	background-color: var(--white);
	border: 1px solid rgba(78, 73, 83, 0.2);
	justify-content: center;
	cursor: pointer;
	transition: all 200ms ease;
}
.gender-choose input[type="radio"]:checked + label {
	color: var(--white);
	background-color: var(--orange);
	border: 1px solid var(--orange);
}
.popover {
	min-width: 450px;
    height: auto;
}
@media (max-width: 576px) { 
	.popover {
		min-width: 300px;
	}
}
/*# sourceMappingURL=style.css.map */

div#pre_loader {
    max-width: 1000px;
    margin: 20px auto 0;
}
.car-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px -10px -10px;
	width: 100%;
	position: relative;
}
.car-list .list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(50% - 20px);
	flex: 0 0 calc(50% - 20px);
	margin: 10px;
	padding: 15px;
	border-radius: 6px;
	border: 1px solid #DDDDDD;
	background: var(--white);
}
@media (max-width: 991px) {
	.car-list .list  h6 { font-size: 12px; }
}
@media (max-width: 767px) {
	.car-list { display: block; }
	.car-list .list { width: 100%; }
	.car-list .list  h6 { font-size: 16px; }
}
@media (max-width: 575px) {
	.car-list .list  h6 { font-size: 12px; }
}  
.car-list .list .contex-menu { position: relative; }
.car-list .list .contex-menu .menu-items {
	display: none;
	position: absolute;
	right: 0;
	top: 30px;
	z-index: 1;
	border-radius: 4px;
	background: #FFF;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
}
.car-list .list .contex-menu .menu-items ul li { 
	display: block; 
	padding: 0;
}
.car-list .list .contex-menu .menu-items ul li a {
	display: block;
	padding: 10px 15px;
	white-space: nowrap;
	border-bottom: 1px solid #EEE;
}
.car-list .list .contex-menu .menu-items ul li a:hover { color: var(--orange); }

/* VIP pack not available popup */
.vip-pack-notavailable-popup .modal-dialog{
	max-width: 675px;
}

@media (max-width: 767px) {
	.vip-pack-notavailable-popup .modal-dialog{
        max-width: 500px;
		margin-left: auto;
        margin-right: auto;
	}
}
@media (max-width: 575px) {
	.vip-pack-notavailable-popup .modal-dialog{
        max-width: 90%;
		margin-left: auto;
        margin-right: auto;
	}
}

.vip-pack-notavailable-popup .modal-content {
	padding: 28px 28px 36px 28px;
	position: relative;
	border-radius: 20px;
	border: none;
	background: var(--blue);
	color: var(--white);
}
.vip-pack-notavailable-popup .modal-content .modal-body {
	padding: 0;
	text-align: center;
	position: initial;
}
.vip-pack-notavailable-popup .modal-content .modal-body .off-popup-content {
    max-width: 475px;
    margin: 0 auto;
}
.vip-pack-notavailable-popup .modal-content .modal-body h4 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 10px;
}
@media (max-width: 575px) {
    .vip-pack-notavailable-popup .modal-content .modal-body h4 {
        font-size: 20px;
    }
}
.vip-pack-notavailable-popup .modal-content .modal-body p {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 45px;
}
@media (max-width: 575px) {
    .vip-pack-notavailable-popup .modal-content .modal-body p {
        font-size: 14px;
		margin-bottom: 35px;
    }
}
.vip-pack-notavailable-popup .modal-content .modal-body .off-popup-content {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 45px;
}
@media (max-width: 575px) {
    .vip-pack-notavailable-popup .modal-content .modal-body .off-popup-content {
        font-size: 14px;
    }
}
.vip-pack-notavailable-popup .modal-content .modal-body a.close {
	position: absolute;
	width: 22px;
	height: 22px;
	top: 24px;
	right: 24px;
	opacity: 1;
	font-size: inherit;
}
.vip-pack-notavailable-popup .modal-content a {
    position: relative;
    top: 15px; 
    right: 15px;
    width: auto; 
    height: auto; 
	color: var(--orange); 
    text-align: center; 
    line-height: 1;
}
.vip-pack-notavailable-popup .modal-content .modal-body .logo-wrapper {
	background-color: var(--white);
	padding: 12px;
	border-radius: 50%;
	position: relative;
	margin: auto;
	margin-top: -100px;
	margin-bottom: 24px;
	width: 112px;
	height: 112px;
	box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
}
.vip-pack-notavailable-popup .modal-content .modal-body .popup_logo {
	width: 88px;
	height: auto;
}
.vip-pack-notavailable-popup .modal-content .modal-body .btn {
	margin: 0 auto;
	display: block;
	width: auto;
	min-width: 212px;
	height: 48px;
    font-size: 1rem;
    font-weight: 600;
}
@media (max-width: 575px) {
    .vip-pack-notavailable-popup .modal-content .modal-body .logo-wrapper {
        width: 102px;
	    height: 102px;
        margin-top: -90px;
    }
    .vip-pack-notavailable-popup .modal-content .modal-body .popup_logo {
        width: 78px;
    }
    .vip-pack-notavailable-popup .modal-content .modal-body .btn {
        min-width: 182px;
    }

}
.vip-pack-notavailable-popup .modal-content .modal-body .btn.new-btn-theme-btn {
    border-radius: 24px;
    background-image: linear-gradient(180deg, #FF6000, #FF9000);
    border: none;
}
html:lang(ar) {
	.vip-pack-notavailable-popup .modal-content .modal-body a.close {
		right: auto;
		left: 24px;
	}
}