.content {
    /*display: none;*/
    opacity: 0;
}
.content {
    -webkit-transform: opacity 0.5s ease;
    -moz-transform: opacity 0.5s ease;
    -o-transform: opacity 0.5s ease;
    -ms-transform: opacity 0.5s ease;
    transform: opacity 0.5s ease;
}
body.pace-running .content {
    opacity: 0;
}
body.pace-done .content {
    opacity: 1;
}
.navbar-nav .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}
.user-panel>.image>a, .user-panel>.image>a>img {
    width: 100%;
    max-width: 45px;
    height: auto;
}
.mbn {
    margin-bottom: 0;
}
.mbn p {
    margin: 0 0 10px;
}

.label.label-outlined {
    border: 1px solid #64DD17;
    color: #323a45;
    font-size: 12px;
    padding: 5px;
    margin-top: 5px;
    display: inline-block;
}
.login-page, .register-page {
    background: #004a8f;
}
/* adding by jaydeep */
.cm-check-payment-json-view{
    word-wrap:break-word;border: 1px solid #ccc!important;font-size: 18px!important;padding: 0.01em 16px;
}